.footer__social-list {
    display: flex;
    justify-content: center;
}

.footer__social-list-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
}