.work-list__content-wrapper {
    position: relative;
    overflow: hidden;
}

.work-list__item:not(:last-child) {
    margin-bottom: 30px;
}

.work-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.work-list__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
    margin-bottom: 20px;
}

.work-list {
    margin-bottom: 60px;
}

.work-list__container-wrapper {
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}