.logo__footer {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-top: var(--mobile-tablet-pt);
    padding-bottom: 20px;
    margin: 0 auto;
}