.my-team__social-list {
    display: flex;
    justify-content: center;
}

.my-team__social-list-icon {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-team__social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}