:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --acent-color: #2196F3;
    --section-pt: 95px;
    --section-pb: 95px;
    --mobile-tablet-pt: 60px;
    --mobile-tablet-pb: 60px; 
}